.container {
  display: flex;
}
.col {
  flex: 1;
  margin: 20px;
}
.framelabel {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

ul.squarelist {
  list-style-type: square;
}
ul.squarelist > li::before {
  content: '';
  padding-top: 5%;
  padding-bottom: 5%;
}

ul.nonelist {
  list-style-type: none;
}
ul.nonelist > li::before {
  content: '';
  padding-top: 5%;
  padding-bottom: 5%;
}

.flexy {
  display: flex;
  flex-wrap: wrap;
}
.flexy>img {
  margin: 3px;
  width: 150px;
  height: 150px;
}